In [1]:
import pandas as pd
import datetime as dt
from dateutil.relativedelta import relativedelta
from sqlalchemy import create_engine

In [2]:
country_df = pd.read_csv("GlobalLandTemperaturesByCountry.csv")
country_df

,dt,AverageTemperature,AverageTemperatureUncertainty,Country
0,1743-11-01,4.384,2.294,Åland
1,1743-12-01,NaN,NaN,Åland
2,1744-01-01,NaN,NaN,Åland
3,1744-02-01,NaN,NaN,Åland
4,1744-03-01,NaN,NaN,Åland
...,...,...,...,...
577457,5/1/13,19.059,1.022,Zimbabwe
577458,6/1/13,17.613,0.473,Zimbabwe
577459,7/1/13,17.000,0.453,Zimbabwe
577460,8/1/13,19.759,0.717,Zimbabwe
577461,9/1/13,NaN,NaN,Zimbabwe

In [3]:
beg_year = 1743
country_df['calc_year'] = 0
beg_country = "Åland"

country_df['dt'] = pd.to_datetime(country_df['dt'])
country_df['Year'] = country_df["dt"].dt.year
country_df['Month'] = country_df["dt"].dt.month
country_df['Day'] = country_df["dt"].dt.day
# country_df = country_df.sort_values(by=['dt',"Country"]).reset_index(drop=True)
country_df

for index, row in country_df.iterrows():
    if row["Country"] == beg_country:
        
        if row["Month"]==1:
            beg_year = beg_year + 1
            country_df.loc[index, 'calc_year'] = beg_year
        else:
            country_df.loc[index, 'calc_year'] = beg_year
            
    else:
        beg_year = row["Year"]
        country_df.loc[index, 'calc_year'] = beg_year
        beg_country = row["Country"]
        
country_df.head(10)

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,calc_year,Year,Month,Day
0,1743-11-01,4.384,2.294,Åland,1743,1743,11,1
1,1743-12-01,NaN,NaN,Åland,1743,1743,12,1
2,1744-01-01,NaN,NaN,Åland,1744,1744,1,1
3,1744-02-01,NaN,NaN,Åland,1744,1744,2,1
4,1744-03-01,NaN,NaN,Åland,1744,1744,3,1
5,1744-04-01,1.530,4.680,Åland,1744,1744,4,1
6,1744-05-01,6.702,1.789,Åland,1744,1744,5,1
7,1744-06-01,11.609,1.577,Åland,1744,1744,6,1
8,1744-07-01,15.342,1.410,Åland,1744,1744,7,1
9,1744-08-01,NaN,NaN,Åland,1744,1744,8,1

In [4]:
country_df.to_csv('country_check.csv',index=False)

In [5]:
country_df['dt'] = country_df["calc_year"].astype(str) + "-" + country_df["Month"].astype(str) + "-" + country_df["Day"].astype(str)
country_df = country_df.drop(columns=["Year"])
country_df = country_df.rename(columns={"calc_year":"Year"})
country_df

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,Year,Month,Day
0,1743-11-1,4.384,2.294,Åland,1743,11,1
1,1743-12-1,NaN,NaN,Åland,1743,12,1
2,1744-1-1,NaN,NaN,Åland,1744,1,1
3,1744-2-1,NaN,NaN,Åland,1744,2,1
4,1744-3-1,NaN,NaN,Åland,1744,3,1
...,...,...,...,...,...,...,...
577457,2013-5-1,19.059,1.022,Zimbabwe,2013,5,1
577458,2013-6-1,17.613,0.473,Zimbabwe,2013,6,1
577459,2013-7-1,17.000,0.453,Zimbabwe,2013,7,1
577460,2013-8-1,19.759,0.717,Zimbabwe,2013,8,1
577461,2013-9-1,NaN,NaN,Zimbabwe,2013,9,1

In [6]:
country_df["avg_temp_F"] = (country_df["AverageTemperature"] * 9/5) +32
country_df

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,Year,Month,Day,avg_temp_F
0,1743-11-1,4.384,2.294,Åland,1743,11,1,39.8912
1,1743-12-1,NaN,NaN,Åland,1743,12,1,NaN
2,1744-1-1,NaN,NaN,Åland,1744,1,1,NaN
3,1744-2-1,NaN,NaN,Åland,1744,2,1,NaN
4,1744-3-1,NaN,NaN,Åland,1744,3,1,NaN
...,...,...,...,...,...,...,...,...
577457,2013-5-1,19.059,1.022,Zimbabwe,2013,5,1,66.3062
577458,2013-6-1,17.613,0.473,Zimbabwe,2013,6,1,63.7034
577459,2013-7-1,17.000,0.453,Zimbabwe,2013,7,1,62.6000
577460,2013-8-1,19.759,0.717,Zimbabwe,2013,8,1,67.5662
577461,2013-9-1,NaN,NaN,Zimbabwe,2013,9,1,NaN

In [7]:
null = country_df.groupby("Country").count()
null = null.sort_values(by=["avg_temp_F"])
null.head(20)

,dt,AverageTemperature,AverageTemperatureUncertainty,Year,Month,Day,avg_temp_F
Country,,,,,,,
Antarctica,764,0,739,764,764,764,0
French Southern And Antarctic Lands,788,783,783,788,788,788,783
Heard Island And Mcdonald Islands,788,783,783,788,788,788,783
Northern Mariana Islands,1329,1328,1328,1329,1329,1329,1328
Guam,1329,1328,1328,1329,1329,1329,1328
Federated States Of Micronesia,1427,1364,1364,1427,1427,1427,1364
South Georgia And The South Sandwich Isla,1666,1474,1474,1666,1666,1666,1474
Palau,1581,1558,1558,1581,1581,1581,1558
Kiribati,1569,1567,1567,1569,1569,1569,1567
Palmyra Atoll,1569,1568,1568,1569,1569,1569,1568
Kingman Reef,1569,1568,1568,1569,1569,1569,1568
Solomon Islands,1761,1568,1568,1761,1761,1761,1568
Papua New Guinea,1581,1580,1580,1581,1581,1581,1580
Ecuador,1771,1585,1585,1771,1771,1771,1585
Peru,1901,1591,1591,1901,1901,1901,1591
Tanzania,1965,1595,1595,1965,1965,1965,1595
French Polynesia,1646,1623,1623,1646,1646,1646,1623
Timor Leste,1627,1626,1626,1627,1627,1627,1626
Samoa,1761,1629,1629,1761,1761,1761,1629
Niue,1761,1629,1629,1761,1761,1761,1629

In [8]:
unique = country_df["Country"].unique()
unique

array(['Åland', 'Afghanistan', 'Africa', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica',
       'Antigua And Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Asia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Baker Island', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bonaire, Saint Eustatius And Saba', 'Bosnia And Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands', 'Bulgaria',
       'Burkina Faso', 'Burma', 'Burundi', "Côte D'Ivoire", 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'Christmas Island', 'Colombia', 'Comoros',
       'Congo (Democratic Republic Of The)', 'Congo', 'Costa Rica',
       'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic',
       'Denmark (Europe)', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Europe',
       'Falkland Islands (Islas Malvinas)', 'Faroe Islands',
       'Federated States Of Micronesia', 'Fiji', 'Finland',
       'France (Europe)', 'France', 'French Guiana', 'French Polynesia',
       'French Southern And Antarctic Lands', 'Gabon', 'Gambia',
       'Gaza Strip', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey',
       'Guinea Bissau', 'Guinea', 'Guyana', 'Haiti',
       'Heard Island And Mcdonald Islands', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle Of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kingman Reef',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macau', 'Macedonia', 'Madagascar', 'Malawi',
       'Malaysia', 'Mali', 'Malta', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Namibia',
       'Nepal', 'Netherlands (Europe)', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Korea', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestina',
       'Palmyra Atoll', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthélemy',
       'Saint Kitts And Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre And Miquelon', 'Saint Vincent And The Grenadines',
       'Samoa', 'San Marino', 'Sao Tome And Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South America',
       'South Georgia And The South Sandwich Isla', 'South Korea',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
       'Svalbard And Jan Mayen', 'Swaziland', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor Leste', 'Togo', 'Tonga', 'Trinidad And Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks And Caicas Islands', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom (Europe)',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Venezuela', 'Vietnam', 'Virgin Islands', 'Western Sahara',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [9]:
country_locations = pd.read_csv("world_country_and_usa_states_latitude_and_longitude_values.csv")
country_locations = country_locations[["country","country_code","latitude","longitude"]]
country_locations = country_locations.dropna()

country_locations = country_locations.sort_values(by=["country"])
location_list = country_locations["country"].unique()
location_list

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Bouvet Island',
       'Brazil', 'British Indian Ocean Territory',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Christmas Island', 'Cocos [Keeling] Islands', 'Colombia',
       'Comoros', 'Congo [DRC]', 'Congo [Republic]', 'Cook Islands',
       'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       "Côte d'Ivoire", 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Falkland Islands [Islas Malvinas]', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia',
       'French Southern Territories', 'Gabon', 'Gambia', 'Gaza Strip',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti',
       'Heard Island and McDonald Islands', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macau', 'Macedonia [FYROM]', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar [Burma]', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'Norfolk Island', 'North Korea', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestinian Territories',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn Islands', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Réunion', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa',
       'South Georgia and the South Sandwich Islands', 'South Korea',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
       'Svalbard and Jan Mayen', 'Swaziland', 'Sweden', 'Switzerland',
       'Syria', 'São Tomé and Príncipe', 'Taiwan', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'U.S. Virgin Islands',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican City', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [10]:
country_locations = country_locations.rename(columns={"country":"Country"})
country_df_merged = pd.merge(country_df,country_locations,on="Country",how="outer")
country_df_merged
unmerged = country_df_merged.loc[country_df_merged["latitude"].isnull()]
unmerged_list = unmerged["Country"].unique()
unmerged_list

array(['Åland', 'Africa', 'Antigua And Barbuda', 'Asia', 'Baker Island',
       'Bonaire, Saint Eustatius And Saba', 'Bosnia And Herzegovina',
       'Burma', "Côte D'Ivoire", 'Congo (Democratic Republic Of The)',
       'Congo', 'Curaçao', 'Denmark (Europe)', 'Europe',
       'Falkland Islands (Islas Malvinas)',
       'Federated States Of Micronesia', 'France (Europe)',
       'French Southern And Antarctic Lands', 'Guinea Bissau',
       'Heard Island And Mcdonald Islands', 'Isle Of Man', 'Kingman Reef',
       'Macedonia', 'Namibia', 'Netherlands (Europe)', 'North America',
       'Oceania', 'Palestina', 'Palmyra Atoll', 'Reunion',
       'Saint Barthélemy', 'Saint Kitts And Nevis', 'Saint Martin',
       'Saint Pierre And Miquelon', 'Saint Vincent And The Grenadines',
       'Sao Tome And Principe', 'Sint Maarten', 'South America',
       'South Georgia And The South Sandwich Isla',
       'Svalbard And Jan Mayen', 'Timor Leste', 'Trinidad And Tobago',
       'Turks And Caicas Islands', 'United Kingdom (Europe)',
       'Virgin Islands'], dtype=object)

In [11]:
#change:
# "Antigua and Barbuda" to Antigua And Barbuda on locations df
#remove Curaçao and Bonaire, Saint Eustatius And Saba from countries df since there is Aruba and all part of ABC Islands
#remove Saint Barthélemy, Saint Martin, Sint Maarten and  as close to Anguilla
#Bosnia and Herzegovina to "Bosnia And Herzegovina" on location df
#change Myanmar [Burma] to Burma on locations df
#Côte d'Ivoire to "Côte D'Ivoire" on location df
#Congo [DRC] to Congo (Democratic Republic Of The) on Locations df
#Congo [Republic] to Congo on Locations df
#Falkland Islands [Islas Malvinas] to  Falkland Islands (Islas Malvinas) on locations df
#Micronesia to Federated States Of Micronesia on locations df
#French Southern Territories to French Southern And Antarctic Lands on locations df
#Guinea-Bissau to Guinea Bissau on location df
#Heard Island and McDonald Islands to Heard Island And Mcdonald Islands on location df
#Isle of Man to Isle Of Man on locations df
#Macedonia [FYROM] to Macedonia on locations df
#Palestinian Territories to Palestina on locations df
#Réunion to Reunion on locations df
#Saint Kitts and Nevis to Saint Kitts And Nevis on locations df
#Saint Pierre and Miquelon to Saint Pierre And Miquelon on locations df
#Saint Vincent and the Grenadines to Saint Vincent And The Grenadines on locations df
#São Tomé and Príncipe to Sao Tome And Principe on locations df
#South Georgia and the South Sandwich Islands to South Georgia And The South Sandwich Isla on locations df
#Svalbard and Jan Mayen to Svalbard And Jan Mayen on locations df
#Timor-Leste to Timor Leste on locations df
#Trinidad and Tobago to Trinidad And Tobago on locations df
#Turks and Caicos Islands to Turks And Caicas Islands  on locations df
#U.S. Virgin Islands to Virgin Islands on locations df


country_locations.loc[country_locations['Country']=="Antigua and Barbuda","Country"] = "Antigua And Barbuda"
country_locations.loc[country_locations['Country']=="Bosnia and Herzegovina","Country"] = "Bosnia And Herzegovina"
country_locations.loc[country_locations['Country']=="Myanmar [Burma]","Country"] = "Burma"
country_locations.loc[country_locations['Country']=="Côte d'Ivoire","Country"] = "Côte D'Ivoire"
country_locations.loc[country_locations['Country']=="Congo [DRC]","Country"] = "Congo (Democratic Republic Of The)"
country_locations.loc[country_locations['Country']=="Congo [Republic]","Country"] = "Congo"
country_locations.loc[country_locations['Country']=="Falkland Islands [Islas Malvinas]","Country"] = "Falkland Islands (Islas Malvinas)"
country_locations.loc[country_locations['Country']=="Micronesia","Country"] = "Federated States Of Micronesia"
country_locations.loc[country_locations['Country']=="French Southern Territories","Country"] = "French Southern And Antarctic Lands"
country_locations.loc[country_locations['Country']=="Guinea-Bissau","Country"] = "Guinea Bissau"
country_locations.loc[country_locations['Country']=="Heard Island and McDonald Islands","Country"] = "Heard Island And Mcdonald Islands"
country_locations.loc[country_locations['Country']=="Isle of Man","Country"] = "Isle Of Man"
country_locations.loc[country_locations['Country']=="Macedonia [FYROM]","Country"] = "Macedonia"
country_locations.loc[country_locations['Country']=="Palestinian Territories","Country"] = "Palestina"
country_locations.loc[country_locations['Country']=="Réunion","Country"] = "Reunion"
country_locations.loc[country_locations['Country']=="Saint Kitts and Nevis","Country"] = "Saint Kitts And Nevis"
country_locations.loc[country_locations['Country']=="Saint Pierre and Miquelon","Country"] = "Saint Pierre And Miquelon"
country_locations.loc[country_locations['Country']=="Saint Vincent and the Grenadines","Country"] = "Saint Vincent And The Grenadines"
country_locations.loc[country_locations['Country']=="São Tomé and Príncipe","Country"] = "Sao Tome And Principe"
country_locations.loc[country_locations['Country']=="South Georgia and the South Sandwich Islands","Country"] = "South Georgia And The South Sandwich Isla"
country_locations.loc[country_locations['Country']=="Svalbard and Jan Mayen","Country"] = "Svalbard And Jan Mayen"
country_locations.loc[country_locations['Country']=="Timor-Leste","Country"] = "Timor Leste"
country_locations.loc[country_locations['Country']=="Trinidad and Tobago","Country"] = "Trinidad And Tobago"
country_df.loc[country_df['Country']=="Turks And Caicas Islands","Country"] = "Turks and Caicos Islands"
country_locations.loc[country_locations['Country']=="U.S. Virgin Islands","Country"] = "Virgin Islands"

In [12]:
#namibia lat and long were null in location dataset, so manually input
namibia = country_df.loc[country_df["Country"]=="Namibia"]
namibia["latitude"] = -22.967062
namibia["longitude"] = 18.4929993

country_df_merged = pd.merge(country_df,country_locations,on="Country")
country_df_merged = pd.concat([country_df_merged,namibia],ignore_index=True)
country_df_merged

<ipython-input-12-f4d49d0e98d8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  namibia["latitude"] = -22.967062
<ipython-input-12-f4d49d0e98d8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  namibia["longitude"] = 18.4929993

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,Year,Month,Day,avg_temp_F,country_code,latitude,longitude
0,1838-4-1,13.008,2.586,Afghanistan,1838,4,1,55.4144,AF,33.939110,67.709953
1,1838-5-1,NaN,NaN,Afghanistan,1838,5,1,NaN,AF,33.939110,67.709953
2,1838-6-1,23.950,2.510,Afghanistan,1838,6,1,75.1100,AF,33.939110,67.709953
3,1838-7-1,26.877,2.883,Afghanistan,1838,7,1,80.3786,AF,33.939110,67.709953
4,1838-8-1,24.938,2.992,Afghanistan,1838,8,1,76.8884,AF,33.939110,67.709953
...,...,...,...,...,...,...,...,...,...,...,...
530071,2013-5-1,19.669,1.667,Namibia,2013,5,1,67.4042,NaN,-22.967062,18.492999
530072,2013-6-1,16.554,1.057,Namibia,2013,6,1,61.7972,NaN,-22.967062,18.492999
530073,2013-7-1,16.118,1.181,Namibia,2013,7,1,61.0124,NaN,-22.967062,18.492999
530074,2013-8-1,17.852,1.291,Namibia,2013,8,1,64.1336,NaN,-22.967062,18.492999
530075,2013-9-1,NaN,NaN,Namibia,2013,9,1,NaN,NaN,-22.967062,18.492999

In [13]:
#Remove countries with data that does not go back to 1900
country_df_merged = country_df_merged.loc[(country_df_merged["Country"]!= "Antarctica") &
                                          (country_df_merged["Country"]!= "French Southern And Antarctic Lands") &
                                         (country_df_merged["Country"]!= "Heard Island And Mcdonald Islands") &
                                         (country_df_merged["Country"]!= "Northern Mariana Islands") &
                                         (country_df_merged["Country"]!= "Guam")]

country_df_merged_year = country_df_merged.groupby(["Country","Year"]).mean().reset_index()
country_df_merged_year = country_df_merged_year.loc[(country_df_merged_year["Year"] > 1899) &
                                                   (country_df_merged_year["Year"] < 2013)].reset_index(drop=True)
country_df_merged_year

,Country,Year,AverageTemperature,AverageTemperatureUncertainty,Month,Day,avg_temp_F,latitude,longitude
0,Afghanistan,1900,13.749333,0.748833,6.5,1.0,56.74880,33.939110,67.709953
1,Afghanistan,1901,13.894000,0.699333,6.5,1.0,57.00920,33.939110,67.709953
2,Afghanistan,1902,14.505833,0.726083,6.5,1.0,58.11050,33.939110,67.709953
3,Afghanistan,1903,12.986417,0.732333,6.5,1.0,55.37555,33.939110,67.709953
4,Afghanistan,1904,13.805750,0.713667,6.5,1.0,56.85035,33.939110,67.709953
...,...,...,...,...,...,...,...,...,...
24742,Zimbabwe,2008,21.545583,0.433000,6.5,1.0,70.78205,-19.015438,29.154857
24743,Zimbabwe,2009,21.377250,0.436417,6.5,1.0,70.47905,-19.015438,29.154857
24744,Zimbabwe,2010,21.986250,0.409667,6.5,1.0,71.57525,-19.015438,29.154857
24745,Zimbabwe,2011,21.602417,0.393417,6.5,1.0,70.88435,-19.015438,29.154857
24746,Zimbabwe,2012,21.521333,0.538500,6.5,1.0,70.73840,-19.015438,29.154857

In [14]:
beg_temp = 0
country_df_merged_year["year change"] = 0
country_df_merged_year["running_total_change"] = 0

for index, row in country_df_merged_year.iterrows():
    if row["Year"] == 1900:
        country_df_merged_year.loc[index, 'year change'] = 0
        country_df_merged_year.loc[index, 'running_total_change'] = 0
        beg_temp = row["avg_temp_F"]
        running_total = 0
    else:
        change = row["avg_temp_F"] - beg_temp
        running_total = running_total + change
        country_df_merged_year.loc[index, 'year change'] = change
        country_df_merged_year.loc[index, 'running_total_change'] = running_total
        beg_temp = row["avg_temp_F"]
        
country_df_merged_year.head(20)

,Country,Year,AverageTemperature,AverageTemperatureUncertainty,Month,Day,avg_temp_F,latitude,longitude,year change,running_total_change
0,Afghanistan,1900,13.749333,0.748833,6.5,1.0,56.74880,33.93911,67.709953,0.00000,0.00000
1,Afghanistan,1901,13.894000,0.699333,6.5,1.0,57.00920,33.93911,67.709953,0.26040,0.26040
2,Afghanistan,1902,14.505833,0.726083,6.5,1.0,58.11050,33.93911,67.709953,1.10130,1.36170
3,Afghanistan,1903,12.986417,0.732333,6.5,1.0,55.37555,33.93911,67.709953,-2.73495,-1.37325
4,Afghanistan,1904,13.805750,0.713667,6.5,1.0,56.85035,33.93911,67.709953,1.47480,0.10155
5,Afghanistan,1905,13.385667,0.817917,6.5,1.0,56.09420,33.93911,67.709953,-0.75615,-0.65460
6,Afghanistan,1906,13.884917,0.607250,6.5,1.0,56.99285,33.93911,67.709953,0.89865,0.24405
7,Afghanistan,1907,13.352917,0.610417,6.5,1.0,56.03525,33.93911,67.709953,-0.95760,-0.71355
8,Afghanistan,1908,13.699167,0.703250,6.5,1.0,56.65850,33.93911,67.709953,0.62325,-0.09030
9,Afghanistan,1909,13.925417,0.598250,6.5,1.0,57.06575,33.93911,67.709953,0.40725,0.31695
10,Afghanistan,1910,13.216500,0.707000,6.5,1.0,55.78970,33.93911,67.709953,-1.27605,-0.95910
11,Afghanistan,1911,13.385000,0.575500,6.5,1.0,56.09300,33.93911,67.709953,0.30330,-0.65580
12,Afghanistan,1912,13.902667,0.635000,6.5,1.0,57.02480,33.93911,67.709953,0.93180,0.27600
13,Afghanistan,1913,13.859250,0.580083,6.5,1.0,56.94665,33.93911,67.709953,-0.07815,0.19785
14,Afghanistan,1914,14.296833,0.756917,6.5,1.0,57.73430,33.93911,67.709953,0.78765,0.98550
15,Afghanistan,1915,14.914583,0.687083,6.5,1.0,58.84625,33.93911,67.709953,1.11195,2.09745
16,Afghanistan,1916,13.343000,0.716917,6.5,1.0,56.01740,33.93911,67.709953,-2.82885,-0.73140
17,Afghanistan,1917,13.916500,0.716083,6.5,1.0,57.04970,33.93911,67.709953,1.03230,0.30090
18,Afghanistan,1918,13.483250,0.722417,6.5,1.0,56.26985,33.93911,67.709953,-0.77985,-0.47895
19,Afghanistan,1919,13.880917,0.766667,6.5,1.0,56.98565,33.93911,67.709953,0.71580,0.23685

In [15]:
highest_change_ranked = country_df_merged_year.loc[country_df_merged_year["Year"]==2012]
highest_change_ranked = highest_change_ranked.sort_values(by=["running_total_change"],ascending=False)
highest_change_ranked.head(20)

,Country,Year,AverageTemperature,AverageTemperatureUncertainty,Month,Day,avg_temp_F,latitude,longitude,year change,running_total_change
21356,Svalbard And Jan Mayen,2012,-3.781000,0.806750,6.5,1.0,25.19420,77.553604,23.670272,2.78145,7.57875
1581,Azerbaijan,2012,13.086750,0.493083,6.5,1.0,55.55615,40.143105,47.576927,2.30055,4.50765
18870,Saint Pierre And Miquelon,2012,6.700250,0.370250,6.5,1.0,44.06045,46.941936,-56.271110,2.01360,4.09455
1129,Armenia,2012,10.350750,0.487917,6.5,1.0,50.63135,40.069099,45.038189,2.18655,3.79260
16610,Norway,2012,1.141667,0.309750,6.5,1.0,34.05500,60.472024,8.468946,-1.75905,3.72915
18418,Russia,2012,-3.901750,0.341500,6.5,1.0,24.97685,61.524010,105.318756,-0.90030,3.55065
23051,Turkmenistan,2012,15.855833,0.342583,6.5,1.0,60.54050,38.969719,59.556278,0.12540,3.47580
8474,Georgia,2012,9.787333,0.362667,6.5,1.0,49.61720,42.315407,43.356892,2.27445,3.45990
7683,Finland,2012,1.907250,0.352417,6.5,1.0,35.43305,61.924110,25.748151,-2.94105,3.43215
3954,Canada,2012,-3.176833,0.300083,6.5,1.0,26.28170,56.130366,-106.346771,0.68445,3.31545
10621,Iran,2012,18.959667,0.288917,6.5,1.0,66.12740,32.427908,53.688046,0.07965,3.30840
23503,United Arab Emirates,2012,29.425833,0.559000,6.5,1.0,84.96650,23.424076,53.847818,0.39675,3.30825
18079,Qatar,2012,28.484500,0.556417,6.5,1.0,83.27210,25.354826,51.183884,0.58140,3.14580
23955,Uzbekistan,2012,13.144167,0.316083,6.5,1.0,55.65950,41.377491,64.585262,0.00555,3.11250
10734,Iraq,2012,23.428917,0.355083,6.5,1.0,74.17205,33.223191,43.679291,1.50420,3.10275
22825,Tunisia,2012,21.479167,0.379417,6.5,1.0,70.66250,33.886917,9.537499,0.87165,2.94930
21582,Sweden,2012,2.972833,0.319250,6.5,1.0,37.35110,60.128161,18.643501,-2.78265,2.94735
1807,Bahrain,2012,27.529333,0.505250,6.5,1.0,81.55280,25.930414,50.637772,0.76590,2.93415
11751,Kazakhstan,2012,6.075417,0.448667,6.5,1.0,42.93575,48.019573,66.923684,0.68250,2.87805
12090,Kuwait,2012,26.675583,0.432250,6.5,1.0,80.01605,29.311660,47.481766,1.05855,2.84145

In [16]:
country_df_merged_year.loc[country_df_merged_year['Country']=="United States","Country"] = "United States of America"
country_df_merged_year.loc[country_df_merged_year['Country']=="Congo (Democratic Republic Of The)","Country"] = "Democratic Republic of the Congo"
country_df_merged_year.loc[country_df_merged_year['Country']=="Tanzania","Country"] = "United Republic of Tanzania"
country_df_merged_year.loc[country_df_merged_year['Country']=="Côte D'Ivoire","Country"] = "Republic of Cote D'Ivoire"
country_df_merged_year.loc[country_df_merged_year['Country']=="Congo","Country"] = "Republic of Congo"
country_df_merged_year.loc[country_df_merged_year['Country']=='Bosnia And Herzegovina',"Country"] = "Bosnia and Herzegovina"
country_df_merged_year.loc[country_df_merged_year['Country']=='Burma',"Country"]="Myanmar"
country_df_merged_year.loc[country_df_merged_year['Country']=='Serbia',"Country"] = "Republic of Serbia"
country_df_merged_year.loc[country_df_merged_year['Country']=='Bahamas',"Country"] = "The Bahamas"
country_df_merged_year.loc[country_df_merged_year['Country']=='Trinidad And Tobago',"Country"] = "Trinidad and Tobago"

In [18]:
import os
import shutil
import time

import folium
import imageio
import webbrowser
import zipfile
import json
import fileinput

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from os import path
from branca.colormap import linear
from selenium import webdriver
from PIL import Image
from pathlib import Path

In [21]:
# bins = list(state_data["Unemployment"].quantile([0, 0.25, 0.5, 0.75, 1]))

# m = folium.Map(location=[48, -102], zoom_start=3)

# folium.Choropleth(
#     geo_data=state_geo,
#     data=state_data,
#     columns=["State", "Unemployment"],
#     key_on="feature.id",
#     fill_color="BuPu",
#     fill_opacity=0.7,
#     line_opacity=0.5,
#     legend_name="Unemployment Rate (%)",
#     bins=bins,
#     reset=True,
# ).add_to(m)

# # m

for i in range(1900,2013):
    data = country_df_merged_year.loc[country_df_merged_year["Year"]== i]
    data.loc[data['running_total_change']<0,"running_total_change"] = 0
    


    bins = [0,1,2,4,8]

    m_i = folium.Map(location=[0,0], width=1100, height=600,zoom_start=1.5)
    
    title_html = '''
                 <h3 align="left" style="font-size:22px"><b>{}</b></h3>
                 '''.format('Year: ' + str(i))   
    m_i.get_root().html.add_child(folium.Element(title_html))

    folium.Choropleth(
        geo_data="datasets/custom.geo.json",
        name='choropleth',
        data=data,
        columns=['Country', 'running_total_change'],
        key_on='feature.properties.sovereignt',
        fill_color='OrRd',
        fill_opacity=0.9,
        line_opacity=0.2,
        legend_name='Degree Change',
        bins=bins,
        width=50,
        height=50
    ).add_to(m_i)

    folium.LayerControl().add_to(m_i)
    m_i.save('datasets/map_'+str(i)+'.html')

/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/robertsimeonoglou/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [23]:
for i in range(1900,2013):
    with fileinput.FileInput('datasets/map_'+str(i)+'.html', inplace=True) as file:
        for line in file:
            print(line.replace('zoomControl: true', 'zoomControl: false'), end='')

In [24]:
#change html to png

path = '///Users/robertsimeonoglou/Documents/Git/project_2_climate_change/datasets/'
delay=5

os.chdir(path)

for i in range(1900,2013):
    fn='map_'+str(i)+'.html'
    tmpurl='file://{path}/{mapfile}'.format(path=os.getcwd(),mapfile=fn)

    browser = webdriver.Chrome()
    browser.get(tmpurl)

    #Give the map tiles some time to load
    time.sleep(delay)
    browser.save_screenshot('map_'+str(i)+'.png')
    browser.quit()
    
    #remove html files
    os.remove('map_'+str(i)+'.html')

In [25]:
for i in range(1900,2013):
    image = Image.open('map_' + str(i) + '.png')
    box = (0, 0, 1100, 600)
    cropped_image = image.crop(box)
    cropped_image.save('map_' + str(i) + '.png')

In [26]:
#create Gif

image_path = Path()

images = sorted(list(image_path.glob('*.png')))
image_list = []
for file_name in images:
    image_list.append(imageio.imread(file_name))
    
imageio.mimwrite('GifMap_v2.gif', image_list, fps=2)