In [422]:
import pandas as pd

In [423]:
df=pd.read_csv("data/emission.csv")
df

,country_or_area,year,value,category
0,Australia,2014,393126.946994,carbon_dioxide_co2_emissions_without_land_use_...
1,Australia,2013,396913.936530,carbon_dioxide_co2_emissions_without_land_use_...
2,Australia,2012,406462.847704,carbon_dioxide_co2_emissions_without_land_use_...
3,Australia,2011,403705.528314,carbon_dioxide_co2_emissions_without_land_use_...
4,Australia,2010,406200.993184,carbon_dioxide_co2_emissions_without_land_use_...
...,...,...,...,...
8401,United States of America,1994,593.222570,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8402,United States of America,1993,586.939752,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8403,United States of America,1992,574.414624,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8404,United States of America,1991,566.900968,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8405,United States of America,1990,293.205663,unspecified_mix_of_hydrofluorocarbons_hfcs_and...

In [424]:
df=df.rename(columns={"country_or_area":"country","value":"amount","category":"gas"})

In [425]:
df

,country,year,amount,gas
0,Australia,2014,393126.946994,carbon_dioxide_co2_emissions_without_land_use_...
1,Australia,2013,396913.936530,carbon_dioxide_co2_emissions_without_land_use_...
2,Australia,2012,406462.847704,carbon_dioxide_co2_emissions_without_land_use_...
3,Australia,2011,403705.528314,carbon_dioxide_co2_emissions_without_land_use_...
4,Australia,2010,406200.993184,carbon_dioxide_co2_emissions_without_land_use_...
...,...,...,...,...
8401,United States of America,1994,593.222570,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8402,United States of America,1993,586.939752,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8403,United States of America,1992,574.414624,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8404,United States of America,1991,566.900968,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8405,United States of America,1990,293.205663,unspecified_mix_of_hydrofluorocarbons_hfcs_and...

In [426]:
df.loc[df["gas"]=="carbon_dioxide_co2_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent",["gas"]]="CO2 without lulucf"
df.loc[df["gas"]=="greenhouse_gas_ghgs_emissions_including_indirect_co2_without_lulucf_in_kilotonne_co2_equivalent",["gas"]]="GHG with indirect CO2 without lulucf"
df.loc[df["gas"]=="greenhouse_gas_ghgs_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent",["gas"]]="GHG without lulucf"
df.loc[df["gas"]=="hydrofluorocarbons_hfcs_emissions_in_kilotonne_co2_equivalent",["gas"]]="Hydrofluorocarbon"
df.loc[df["gas"]=="methane_ch4_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent",["gas"]]="Metan without lulucf"
df.loc[df["gas"]=="nitrogen_trifluoride_nf3_emissions_in_kilotonne_co2_equivalent",["gas"]]="Nitrogen Trifluoride"
df.loc[df["gas"]=="nitrous_oxide_n2o_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent",["gas"]]="Nitrous Oxide without lulucf"
df.loc[df["gas"]=="perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent",["gas"]]="Perfluorocarbons"
df.loc[df["gas"]=="sulphur_hexafluoride_sf6_emissions_in_kilotonne_co2_equivalent",["gas"]]="Sulphur Hexafluoride"
df.loc[df["gas"]=="unspecified_mix_of_hydrofluorocarbons_hfcs_and_perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent",["gas"]]="Unspecified Mix of HCF and PFC"

In [427]:
gas_df=df["gas"].unique()
gas_df

array(['CO2 without lulucf', 'GHG with indirect CO2 without lulucf',
       'GHG without lulucf', 'Hydrofluorocarbon', 'Metan without lulucf',
       'Nitrogen Trifluoride', 'Nitrous Oxide without lulucf',
       'Perfluorocarbons', 'Sulphur Hexafluoride',
       'Unspecified Mix of HCF and PFC'], dtype=object)

In [428]:
df["amount"]=round(df["amount"],2)
df

,country,year,amount,gas
0,Australia,2014,393126.95,CO2 without lulucf
1,Australia,2013,396913.94,CO2 without lulucf
2,Australia,2012,406462.85,CO2 without lulucf
3,Australia,2011,403705.53,CO2 without lulucf
4,Australia,2010,406200.99,CO2 without lulucf
...,...,...,...,...
8401,United States of America,1994,593.22,Unspecified Mix of HCF and PFC
8402,United States of America,1993,586.94,Unspecified Mix of HCF and PFC
8403,United States of America,1992,574.41,Unspecified Mix of HCF and PFC
8404,United States of America,1991,566.90,Unspecified Mix of HCF and PFC
8405,United States of America,1990,293.21,Unspecified Mix of HCF and PFC

In [429]:
df.to_csv("data/output_emission.csv",index=False)

In [430]:
def groupbyGas(gasName):
    gas_df=df.loc[df["gas"]==gasName,["country","year","amount","gas"]]
    gas_df=gas_df.sort_values(by="year")
    gas_df=gas_df.set_index("country")
    gas_df=gas_df.reset_index()
    
    return gas_df

In [431]:
for gas in gas_df:
    print(gas)

CO2 without lulucf
GHG with indirect CO2 without lulucf
GHG without lulucf
Hydrofluorocarbon
Metan without lulucf
Nitrogen Trifluoride
Nitrous Oxide without lulucf
Perfluorocarbons
Sulphur Hexafluoride
Unspecified Mix of HCF and PFC

In [432]:
df_co2=groupbyGas("CO2 without lulucf")
df_ghg_co2=groupbyGas("GHG with indirect CO2 without lulucf")
df_ghg=groupbyGas("GHG without lulucf")
df_hcf=groupbyGas("Hydrofluorocarbon")
df_nh4=groupbyGas("Metan without lulucf")
df_ntf=groupbyGas("Nitrogen Trifluoride")
df_nox=groupbyGas("Nitrous Oxide without lulucf")
df_pfc=groupbyGas("Perfluorocarbons")
df_shf=groupbyGas("Sulphur Hexafluoride")
df_uns_hcf_pfc=groupbyGas("Unspecified Mix of HCF and PFC")

In [433]:
df_co2=df_co2[["year","amount","gas"]].groupby(["year"]).mean()
df_co2=df_co2.reset_index()
df_co2["amount"]=round((df_co2["amount"])/1000,2)

In [434]:
df_co2.to_json("data/output_co2.json",orient='records')

In [435]:
df_ghg=df_ghg[["year","amount","gas"]].groupby(["year"]).mean()
df_ghg=df_ghg.reset_index()
df_ghg["amount"]=round((df_ghg["amount"])/1000,2)

In [436]:
df_ghg.to_json("data/output_ghg.json",orient='records')

In [437]:
df_hcf=df_hcf[["year","amount","gas"]].groupby(["year"]).mean()
df_hcf=df_hcf.reset_index()
df_hcf["amount"]=round((df_hcf["amount"])/1000,2)

In [438]:
df_hcf.to_json("data/output_hcf.json",orient='records')

In [439]:
df_nh4=df_nh4[["year","amount","gas"]].groupby(["year"]).mean()
df_nh4=df_nh4.reset_index()
df_nh4["amount"]=round((df_nh4["amount"])/1000,2)

In [440]:
df_nh4.to_json("data/output_nh4.json",orient='records')

In [441]:
df_ntf=df_ntf[["year","amount","gas"]].groupby(["year"]).mean()
df_ntf=df_ntf.reset_index()
df_ntf["amount"]=round((df_ntf["amount"])/1000,2)

In [442]:
df_ntf.to_json("data/output_ntf.json",orient='records')

In [443]:
df_nox=df_nox[["year","amount","gas"]].groupby(["year"]).mean()
df_nox=df_nox.reset_index()
df_nox["amount"]=round((df_nox["amount"])/1000,2)

In [444]:
df_nox.to_json("data/output_nox.json",orient='records')

In [445]:
df_pfc=df_pfc[["year","amount","gas"]].groupby(["year"]).mean()
df_pfc=df_pfc.reset_index()
df_pfc["amount"]=round((df_pfc["amount"])/1000,2)

In [446]:
df_pfc.to_json("data/output_pfc.json",orient='records')

In [447]:
df_shf=df_shf[["year","amount","gas"]].groupby(["year"]).mean()
df_shf=df_shf.reset_index()
df_shf["amount"]=round((df_shf["amount"])/1000,2)

In [448]:
df_shf.to_json("data/output_shf.json",orient='records')