In [2]:
# Importing Dependencies

from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import json
import requests
import gmaps
from key import gkey

In [3]:
# import sqlite3

# conn = sqlite3.connect('Outputs/GlobalWarming.db')

In [4]:
# PostgerSQL imports & connections ** Please replace ur #password to save a copy of Global-Warming in to your post-greSQL

# from sqlalchemy import create_engine
# engine = create_engine('postgresql://postgres:Aadhya2014@localhost:5432/Global-Warming')

### Scraping all the tables from web-page to get population data from 1950-2050

"https://en.wikipedia.org/wiki/List_of_countries_by_past_and_projected_future_population"

In [5]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_past_and_projected_future_population"
population_table_list = pd.read_html(url)
population_table_list

[    Country (or dependent territory)     1950     1955      %     1960    %.1  \
 0                        Afghanistan     8151     8892   1.76     9830   2.03
 1                            Albania     1228     1393   2.56     1624   3.12
 2                            Algeria     8893     9842   2.05    10910   2.08
 3                     American Samoa       20       20   0.72       21   0.20
 4                            Andorra        7        7   0.04        9   6.28
 ..                               ...      ...      ...    ...      ...    ...
 223                   Western Sahara       10       16  11.87       28  11.87
 224                            Yemen     4778     5266   1.97     5872   2.20
 225                           Zambia     2554     2870   2.36     3255   2.55
 226                         Zimbabwe     2854     3410   3.62     4011   3.31
 227                            World  2557629  2782099   1.70  3043002   1.81

         1965    %.2     1970    %.3     1975   %.4     1980    %.5
 0      10998   2.27    12431   2.48    14133  2.60    15045   1.26
 1       1884   3.02     2157   2.74     2402  2.17     2672   2.16
 2      11964   1.86    13932   3.09    16141  2.99    18807   3.10
 3         25   4.23       28   2.08       30  1.68       33   1.81
 4         14  10.17       20   7.49       27  6.32       34   4.81
 ..       ...    ...      ...    ...      ...   ...      ...    ...
 223       50  12.33       90  12.38       73 -4.16      125  11.47
 224     6511   2.09     7099   1.74     7935  2.25     9133   2.85
 225     3695   2.57     4241   2.80     4849  2.71     5541   2.71
 226     4686   3.16     5515   3.31     6342  2.83     7170   2.49
 227  3350426   1.94  3712698   2.07  4089084  1.95  4451363   1.71

 [228 rows x 14 columns],
     Country (or dependent territory)     1985     %     1990   %.1     1995  \
 0                        Afghanistan    13120 -2.70    13569  0.67    19446
 1                            Albania     2957  2.05     3245  1.88     3159
 2                            Algeria    22009  3.19    25191  2.74    28322
 3                     American Samoa       39  3.57       48  4.09       54
 4                            Andorra       45  5.84       53  3.41       64
 ..                               ...      ...   ...      ...   ...      ...
 223                   Western Sahara      180  7.65      218  3.92      264
 224                            Yemen    10540  2.91    12417  3.33    14832
 225                           Zambia     6536  3.36     7604  3.07     8691
 226                         Zimbabwe     8561  3.61    10157  3.48    11160
 227                            World  4856463  1.76  5288956  1.72  5699203

       %.2     2000   %.3     2005   %.4     2010   %.5     2015   %.6
 0    7.46    22462  2.93    26335  3.23    29121  2.03    32565  2.26
 1   -0.54     3159  0.00     3025 -0.86     2987 -0.25     3030  0.28
 2    2.37    30639  1.58    32918  1.45    35950  1.78    39543  1.92
 3    2.69       58  1.39       57 -0.28       56 -0.53       55 -0.41
 4    3.70       66  0.58       77  3.18       85  2.12       86  0.25
 ..    ...      ...   ...      ...   ...      ...   ...      ...   ...
 223  3.95      337  4.97      416  4.32      492  3.42      571  3.04
 224  3.62    17236  3.05    20003  3.02    23210  3.02    26738  2.87
 225  2.71     9984  2.81    11373  2.64    13042  2.78    15067  2.93
 226  1.90    11821  1.16    11640 -0.31    11652  0.02    14230  4.08
 227  1.51  6088572  1.33  6473045  1.23  6866333  1.19  7256491  1.11

 [228 rows x 15 columns],
     Country (or dependent territory)     2020     %     2025   %.1     2030  \
 0                        Afghanistan    36644  2.39    41118  2.33    45665
 1                            Albania     3075  0.30     3105  0.20     3103
 2                            Algeria    42973  1.68    45842  1.30    48149
 3                     American Samoa       54 -0.21       54 -0.17       53
 4                            Andorra       86  0.01       86 -0.12       85
 ..                               ...      ...   ...      ...   ...      ...
 223                   Western Sahara      653  2.70      736  2.44      822
 224                            Yemen    29885  2.25    32823  1.89    35660
 225                           Zambia    17427  2.95    20105  2.90    23137
 226                         Zimbabwe    15832  2.16    17371  1.87    18820
 227                            World  7643403  1.04  8006581  0.93  8340607

       %.2     2035   %.3     2040   %.4     2045   %.5     2050   %.6
 0    2.12    50195  1.91    54717  1.74    59256  1.61    63796  1.49
 1   -0.01     3063 -0.26     2994 -0.45     2913 -0.55     2825 -0.61
 2    0.99    50118  0.80    52030  0.75    53894  0.71    55445  0.57
 3   -0.32       52 -0.45       51 -0.45       50 -0.29       50 -0.06
 4   -0.21       83 -0.30       82 -0.46       79 -0.69       75 -0.93
 ..    ...      ...   ...      ...   ...      ...   ...      ...   ...
 223  2.23      909  2.04      998  1.87     1086  1.71     1174  1.57
 224  1.67    38437  1.51    41142  1.37    43710  1.22    46081  1.06
 225  2.85    26546  2.79    30339  2.71    34497  2.60    38993  2.48
 226  1.62    20282  1.51    21840  1.49    23492  1.47    25199  1.41
 227  0.82  8646305  0.72  8925950  0.64  9180226  0.56  9408142  0.49

 [228 rows x 15 columns],
    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteLists of countries by population statistics  \
 0                                              Global
 1                               Continents/subregions
 2                                    Intercontinental
 3                                  Cities/urban areas
 4                                     Past and future
 5                                  Population density
 6                                   Growth indicators
 7                                  Other demographics
 8                                              Health
 9                            Education and innovation
 10                                           Economic
 11  List of international rankings List of top int...

    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteLists of countries by population statistics.1
 0        Current population Demographics of the world
 1   Africa Antarctica Asia Europe North America Ca...
 2   Americas Arab world Commonwealth of Nations Eu...
 3   World cities National capitals Megacities Mega...
 4   Past and future population World population es...
 5   Current density Past and future population den...
 6   Population growth rate Natural increase Birth ...
 7   Age at first marriage Age structure Dependency...
 8   Antidepressant consumption Antiviral medicatio...
 9   Bloomberg Innovation Index Education Index Int...
 10  Access to financial services Development aid g...
 11  List of international rankings List of top int...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ]

In [6]:
# Retrieving table-1 within the tables-list scraped from the web-page

population_1950_1980_df = population_table_list[0]
population_1950_1980_df

,Country (or dependent territory),1950,1955,%,1960,%.1,1965,%.2,1970,%.3,1975,%.4,1980,%.5
0,Afghanistan,8151,8892,1.76,9830,2.03,10998,2.27,12431,2.48,14133,2.60,15045,1.26
1,Albania,1228,1393,2.56,1624,3.12,1884,3.02,2157,2.74,2402,2.17,2672,2.16
2,Algeria,8893,9842,2.05,10910,2.08,11964,1.86,13932,3.09,16141,2.99,18807,3.10
3,American Samoa,20,20,0.72,21,0.20,25,4.23,28,2.08,30,1.68,33,1.81
4,Andorra,7,7,0.04,9,6.28,14,10.17,20,7.49,27,6.32,34,4.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Western Sahara,10,16,11.87,28,11.87,50,12.33,90,12.38,73,-4.16,125,11.47
224,Yemen,4778,5266,1.97,5872,2.20,6511,2.09,7099,1.74,7935,2.25,9133,2.85
225,Zambia,2554,2870,2.36,3255,2.55,3695,2.57,4241,2.80,4849,2.71,5541,2.71
226,Zimbabwe,2854,3410,3.62,4011,3.31,4686,3.16,5515,3.31,6342,2.83,7170,2.49
227,World,2557629,2782099,1.70,3043002,1.81,3350426,1.94,3712698,2.07,4089084,1.95,4451363,1.71

In [7]:
# Table-1 column headers

population_1950_1980_df.columns

Index(['Country (or dependent territory)', '1950', '1955', '%', '1960', '%.1',
       '1965', '%.2', '1970', '%.3', '1975', '%.4', '1980', '%.5'],
      dtype='object')

In [8]:
# # Retrieving table-2 within the tables-list scraped from the web-page

population_1980_2015_df = population_table_list[1]
population_1980_2015_df

,Country (or dependent territory),1985,%,1990,%.1,1995,%.2,2000,%.3,2005,%.4,2010,%.5,2015,%.6
0,Afghanistan,13120,-2.70,13569,0.67,19446,7.46,22462,2.93,26335,3.23,29121,2.03,32565,2.26
1,Albania,2957,2.05,3245,1.88,3159,-0.54,3159,0.00,3025,-0.86,2987,-0.25,3030,0.28
2,Algeria,22009,3.19,25191,2.74,28322,2.37,30639,1.58,32918,1.45,35950,1.78,39543,1.92
3,American Samoa,39,3.57,48,4.09,54,2.69,58,1.39,57,-0.28,56,-0.53,55,-0.41
4,Andorra,45,5.84,53,3.41,64,3.70,66,0.58,77,3.18,85,2.12,86,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Western Sahara,180,7.65,218,3.92,264,3.95,337,4.97,416,4.32,492,3.42,571,3.04
224,Yemen,10540,2.91,12417,3.33,14832,3.62,17236,3.05,20003,3.02,23210,3.02,26738,2.87
225,Zambia,6536,3.36,7604,3.07,8691,2.71,9984,2.81,11373,2.64,13042,2.78,15067,2.93
226,Zimbabwe,8561,3.61,10157,3.48,11160,1.90,11821,1.16,11640,-0.31,11652,0.02,14230,4.08
227,World,4856463,1.76,5288956,1.72,5699203,1.51,6088572,1.33,6473045,1.23,6866333,1.19,7256491,1.11

In [9]:
# Table-2 column headers

population_1980_2015_df.columns

Index(['Country (or dependent territory)', '1985', '%', '1990', '%.1', '1995',
       '%.2', '2000', '%.3', '2005', '%.4', '2010', '%.5', '2015', '%.6'],
      dtype='object')

In [10]:
# Retrieving table-3 within the tables-list scraped from the web-page

population_2015_2050_df = population_table_list[2]
population_2015_2050_df

,Country (or dependent territory),2020,%,2025,%.1,2030,%.2,2035,%.3,2040,%.4,2045,%.5,2050,%.6
0,Afghanistan,36644,2.39,41118,2.33,45665,2.12,50195,1.91,54717,1.74,59256,1.61,63796,1.49
1,Albania,3075,0.30,3105,0.20,3103,-0.01,3063,-0.26,2994,-0.45,2913,-0.55,2825,-0.61
2,Algeria,42973,1.68,45842,1.30,48149,0.99,50118,0.80,52030,0.75,53894,0.71,55445,0.57
3,American Samoa,54,-0.21,54,-0.17,53,-0.32,52,-0.45,51,-0.45,50,-0.29,50,-0.06
4,Andorra,86,0.01,86,-0.12,85,-0.21,83,-0.30,82,-0.46,79,-0.69,75,-0.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Western Sahara,653,2.70,736,2.44,822,2.23,909,2.04,998,1.87,1086,1.71,1174,1.57
224,Yemen,29885,2.25,32823,1.89,35660,1.67,38437,1.51,41142,1.37,43710,1.22,46081,1.06
225,Zambia,17427,2.95,20105,2.90,23137,2.85,26546,2.79,30339,2.71,34497,2.60,38993,2.48
226,Zimbabwe,15832,2.16,17371,1.87,18820,1.62,20282,1.51,21840,1.49,23492,1.47,25199,1.41
227,World,7643403,1.04,8006581,0.93,8340607,0.82,8646305,0.72,8925950,0.64,9180226,0.56,9408142,0.49

In [11]:
# Table-3 column headers

population_2015_2050_df.columns

Index(['Country (or dependent territory)', '2020', '%', '2025', '%.1', '2030',
       '%.2', '2035', '%.3', '2040', '%.4', '2045', '%.5', '2050', '%.6'],
      dtype='object')

### Cleaning & Transformation

In [12]:
# Merging all three population dataframes

population_1950_2015_df = population_1950_1980_df.merge(population_1980_2015_df, how='left', on='Country (or dependent territory)')
population_1950_2050_df = population_1950_2015_df.merge(population_2015_2050_df, how='left', on='Country (or dependent territory)')
population_1950_2050_df.columns

Index(['Country (or dependent territory)', '1950', '1955', '%_x', '1960',
       '%.1_x', '1965', '%.2_x', '1970', '%.3_x', '1975', '%.4_x', '1980',
       '%.5_x', '1985', '%_y', '1990', '%.1_y', '1995', '%.2_y', '2000',
       '%.3_y', '2005', '%.4_y', '2010', '%.5_y', '2015', '%.6_x', '2020', '%',
       '2025', '%.1', '2030', '%.2', '2035', '%.3', '2040', '%.4', '2045',
       '%.5', '2050', '%.6_y'],
      dtype='object')

In [13]:
# Renaming columns

population_1950_2050_df.rename(columns={"Country (or dependent territory)": "Country", "%_x": "Growth 1950-1955",
                                                                                    "%.1_x": "Growth 1955-1960", 
                                                                                   "%.2_x": "Growth 1960-1965",
                                                                                   "%.3_x": "Growth 1965-1970",
                                                                                    "%.4_x": "Growth 1970-1975",
                                                                                    "%.5_x": "Growth 1975-1980",
                                                                                    "%_y": "Growth 1980-1985",
                                                                                    "%.1_y": "Growth 1985-1990",
                                                                                     "%.2_y": "Growth 1990-1995",
                                                                                   "%.3_y": "Growth 1995-2000",
                                                                                    "%.4_y": "Growth 2000-2005",
                                                                                   "%.5_y": "Growth 2005-2010",
                                                                                   "%.6_x": "Growth 2010-2015",
                                                                                    "%": "Growth 2015-2020",
                                                                                    "%.1": "Growth 2020-2025",
                                                                                   "%.2": "Growth 2025-2030",
                                                                                   "%.3": "Growth 2030-2035",
                                                                                    "%.4": "Growth 2035-2040",
                                                                                   "%.5": "Growth 2040-2045",
                                                                                   "%.6_y": "Growth 2045-2050"}, 
                                                                                    inplace =True)

population_1950_2050_df

,Country,1950,1955,Growth 1950-1955,1960,Growth 1955-1960,1965,Growth 1960-1965,1970,Growth 1965-1970,...,2030,Growth 2025-2030,2035,Growth 2030-2035,2040,Growth 2035-2040,2045,Growth 2040-2045,2050,Growth 2045-2050
0,Afghanistan,8151,8892,1.76,9830,2.03,10998,2.27,12431,2.48,...,45665,2.12,50195,1.91,54717,1.74,59256,1.61,63796,1.49
1,Albania,1228,1393,2.56,1624,3.12,1884,3.02,2157,2.74,...,3103,-0.01,3063,-0.26,2994,-0.45,2913,-0.55,2825,-0.61
2,Algeria,8893,9842,2.05,10910,2.08,11964,1.86,13932,3.09,...,48149,0.99,50118,0.80,52030,0.75,53894,0.71,55445,0.57
3,American Samoa,20,20,0.72,21,0.20,25,4.23,28,2.08,...,53,-0.32,52,-0.45,51,-0.45,50,-0.29,50,-0.06
4,Andorra,7,7,0.04,9,6.28,14,10.17,20,7.49,...,85,-0.21,83,-0.30,82,-0.46,79,-0.69,75,-0.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Western Sahara,10,16,11.87,28,11.87,50,12.33,90,12.38,...,822,2.23,909,2.04,998,1.87,1086,1.71,1174,1.57
224,Yemen,4778,5266,1.97,5872,2.20,6511,2.09,7099,1.74,...,35660,1.67,38437,1.51,41142,1.37,43710,1.22,46081,1.06
225,Zambia,2554,2870,2.36,3255,2.55,3695,2.57,4241,2.80,...,23137,2.85,26546,2.79,30339,2.71,34497,2.60,38993,2.48
226,Zimbabwe,2854,3410,3.62,4011,3.31,4686,3.16,5515,3.31,...,18820,1.62,20282,1.51,21840,1.49,23492,1.47,25199,1.41
227,World,2557629,2782099,1.70,3043002,1.81,3350426,1.94,3712698,2.07,...,8340607,0.82,8646305,0.72,8925950,0.64,9180226,0.56,9408142,0.49

In [14]:
# Retrieving lattitude & longitude using googlemaps API

base_url = "https://maps.googleapis.com/maps/api/geocode/json"

country = population_1950_2050_df["Country"].tolist()
lat=[]
lng=[]
for i in country:
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?address={0}&key={1}').format(i, gkey)
    response = requests.get(target_url).json()
    lattitude = response["results"][0]["geometry"]["location"]["lat"]
    longitude = response["results"][0]["geometry"]["location"]["lng"]
    lat.append(lattitude)
    lng.append(longitude)

In [15]:
# Populating 2 new-columns Lat & Lng into the same population dataframe using col-index

population_1950_2050_df.insert(1, 'Lat', lat)
population_1950_2050_df.insert(2, 'Lng', lng)

In [16]:
# population_1950_2050_df.drop(['1950'],axis=1, inplace=True)

population_1950_2050_df

,Country,Lat,Lng,1950,1955,Growth 1950-1955,1960,Growth 1955-1960,1965,Growth 1960-1965,...,2030,Growth 2025-2030,2035,Growth 2030-2035,2040,Growth 2035-2040,2045,Growth 2040-2045,2050,Growth 2045-2050
0,Afghanistan,33.939110,67.709953,8151,8892,1.76,9830,2.03,10998,2.27,...,45665,2.12,50195,1.91,54717,1.74,59256,1.61,63796,1.49
1,Albania,41.153332,20.168331,1228,1393,2.56,1624,3.12,1884,3.02,...,3103,-0.01,3063,-0.26,2994,-0.45,2913,-0.55,2825,-0.61
2,Algeria,28.033886,1.659626,8893,9842,2.05,10910,2.08,11964,1.86,...,48149,0.99,50118,0.80,52030,0.75,53894,0.71,55445,0.57
3,American Samoa,-14.270972,-170.132217,20,20,0.72,21,0.20,25,4.23,...,53,-0.32,52,-0.45,51,-0.45,50,-0.29,50,-0.06
4,Andorra,42.506285,1.521801,7,7,0.04,9,6.28,14,10.17,...,85,-0.21,83,-0.30,82,-0.46,79,-0.69,75,-0.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Western Sahara,24.215527,-12.885834,10,16,11.87,28,11.87,50,12.33,...,822,2.23,909,2.04,998,1.87,1086,1.71,1174,1.57
224,Yemen,15.552727,48.516388,4778,5266,1.97,5872,2.20,6511,2.09,...,35660,1.67,38437,1.51,41142,1.37,43710,1.22,46081,1.06
225,Zambia,-13.133897,27.849332,2554,2870,2.36,3255,2.55,3695,2.57,...,23137,2.85,26546,2.79,30339,2.71,34497,2.60,38993,2.48
226,Zimbabwe,-19.015438,29.154857,2854,3410,3.62,4011,3.31,4686,3.16,...,18820,1.62,20282,1.51,21840,1.49,23492,1.47,25199,1.41
227,World,33.762549,-84.392588,2557629,2782099,1.70,3043002,1.81,3350426,1.94,...,8340607,0.82,8646305,0.72,8925950,0.64,9180226,0.56,9408142,0.49

In [17]:
# Changing all year columns-cells to into a single column 'Year' & values to 'Population'
df = population_1950_2050_df
df1 = df.melt(id_vars=["Country", "Lat", "Lng"], 
        value_vars=['1955','1960','1965','1970','1975','1980','1985','1990','1995','2000','2005','2010','2015','2020','2025','2030','2035','2040','2045','2050'],
        var_name='Year',
        value_name='Population')
                    
df1
# df3=df1.groupby(['Country','Year']).sum()
# # df3 = df1.groupby("Year").mean()
# # # df2.drop(['World'],axis=0, inplace=True)
# df3

             Country        Lat         Lng  Year  Population
0        Afghanistan  33.939110   67.709953  1955        8892
1            Albania  41.153332   20.168331  1955        1393
2            Algeria  28.033886    1.659626  1955        9842
3     American Samoa -14.270972 -170.132217  1955          20
4            Andorra  42.506285    1.521801  1955           7
...              ...        ...         ...   ...         ...
4555  Western Sahara  24.215527  -12.885834  2050        1174
4556           Yemen  15.552727   48.516388  2050       46081
4557          Zambia -13.133897   27.849332  2050       38993
4558        Zimbabwe -19.015438   29.154857  2050       25199
4559           World  33.762549  -84.392588  2050     9408142

[4560 rows x 5 columns]

In [18]:
# Changing all growth columns-cells to into a single column 'growth' & their values as 'Rate'

df2 = df.melt(id_vars=["Country"], 
        value_vars=['Growth 1950-1955','Growth 1955-1960',
        'Growth 1960-1965','Growth 1965-1970', 'Growth 1970-1975', 'Growth 1975-1980', 
        'Growth 1980-1985', 'Growth 1985-1990',
       'Growth 1990-1995', 'Growth 1995-2000',
       'Growth 2000-2005', 'Growth 2005-2010', 
       'Growth 2010-2015', 'Growth 2015-2020', 
       'Growth 2020-2025', 'Growth 2025-2030', 
       'Growth 2030-2035', 'Growth 2035-2040', 
       'Growth 2040-2045', 'Growth 2045-2050'],
        var_name='Period',
        value_name='Rate-Change')

# Merging 'Period' column

df2.drop(['Period'],axis=1, inplace=True)
df2

df1['Rate'] = df2['Rate-Change']
df1

ValueError: Columns must be same length as key

In [16]:
# Saving into SQLITE
# conn = sqlite3.connect('GlobalWarming.sqlite')
# c = conn.cursor()
# # df1.to_sql('Population', conn, if_exists='replace', index = False)
# # conn.commit()

# Testing database.....
# data = c.execute('SELECT * FROM Population').fetchall()
# data
# df1.to_sql('population', engine, if_exists='replace',index=False)
# d = pd.read_sql("SELECT * FROM population", engine)
# d

In [ ]:
# df1.to_sql('population', engine, if_exists='replace',index=False)
# d = pd.read_sql("SELECT * FROM population", engine)
# d

In [17]:
# engine.table_names()

In [18]:
# df1.to_csv("Outputs/Population.csv")

In [19]:
# df.to_json('data_population.json', orient = 'split', compression = 'infer', index = 'true')

### API calls to populate lattitude & longitude for the countries
"https://maps.googleapis.com/maps/api/geocode/json"

In [29]:
# Making API calls to get lat/lng for all the countries 

# base_url = "https://maps.googleapis.com/maps/api/geocode/json"

# country = population_1950_2050_df["Country"].tolist()
# lat=[]
# lng=[]
# for i in country:
#     target_url = ('https://maps.googleapis.com/maps/api/geocode/json?address={0}&key={1}').format(i, gkey)
#     response = requests.get(target_url).json()
#     lattitude = response["results"][0]["geometry"]["location"]["lat"]
#     longitude = response["results"][0]["geometry"]["location"]["lng"]
#     lat.append(lattitude)
#     lng.append(longitude)

In [30]:
# # Populating 2 new-columns Lat & Lng into the same population dataframe using col-index

# df1.insert(1, 'Lat', lat)
# df1.insert(2, 'Lng', lng)
# df1

###  Uploading the data into csv file & postgreSQL database 'Global-Warming'

In [32]:
#  Uploading the dataframe to csv file
df1.to_json('Outputs/geo_population.json', orient = 'split', compression = 'infer', index = 'true')

# df1.to_csv("Outputs/Geo-Population.csv")

In [57]:
# Checking for existing tables in the database 'Global-Warming'

# engine.table_names()

['population', 'globaltemperatures']

In [25]:
# Saving dataframe into database

# population_1950_2050_df.to_sql('population', engine, if_exists='replace',index=False)

In [26]:
# Re-visiting the database to check whether table has created?
# engine.table_names()

['population']

In [27]:
#  Testing...

# df = pd.read_sql("SELECT * FROM population", engine)
# df

,Country,Lat,Lng,1950,1955,Growth 1950-1955,1960,Growth 1955-1960,1965,Growth 1960-1965,...,2030,Growth 2025-2030,2035,Growth 2030-2035,2040,Growth 2035-2040,2045,Growth 2040-2045,2050,Growth 2045-2050
0,Afghanistan,33.939110,67.709953,8151,8892,1.76,9830,2.03,10998,2.27,...,45665,2.12,50195,1.91,54717,1.74,59256,1.61,63796,1.49
1,Albania,41.153332,20.168331,1228,1393,2.56,1624,3.12,1884,3.02,...,3103,-0.01,3063,-0.26,2994,-0.45,2913,-0.55,2825,-0.61
2,Algeria,28.033886,1.659626,8893,9842,2.05,10910,2.08,11964,1.86,...,48149,0.99,50118,0.80,52030,0.75,53894,0.71,55445,0.57
3,American Samoa,-14.270972,-170.132217,20,20,0.72,21,0.20,25,4.23,...,53,-0.32,52,-0.45,51,-0.45,50,-0.29,50,-0.06
4,Andorra,42.506285,1.521801,7,7,0.04,9,6.28,14,10.17,...,85,-0.21,83,-0.30,82,-0.46,79,-0.69,75,-0.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Western Sahara,24.215527,-12.885834,10,16,11.87,28,11.87,50,12.33,...,822,2.23,909,2.04,998,1.87,1086,1.71,1174,1.57
224,Yemen,15.552727,48.516388,4778,5266,1.97,5872,2.20,6511,2.09,...,35660,1.67,38437,1.51,41142,1.37,43710,1.22,46081,1.06
225,Zambia,-13.133897,27.849332,2554,2870,2.36,3255,2.55,3695,2.57,...,23137,2.85,26546,2.79,30339,2.71,34497,2.60,38993,2.48
226,Zimbabwe,-19.015438,29.154857,2854,3410,3.62,4011,3.31,4686,3.16,...,18820,1.62,20282,1.51,21840,1.49,23492,1.47,25199,1.41
227,World,33.762549,-84.392588,2557629,2782099,1.70,3043002,1.81,3350426,1.94,...,8340607,0.82,8646305,0.72,8925950,0.64,9180226,0.56,9408142,0.49

In [20]:
# conn.close()

NameError: name 'conn' is not defined

In [59]:
#  Closing the database connection